body {
  background-color: #fff;
  color: #fff;
}

.header {
  height: 9rem;
  padding: 5rem 0;
  max-width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--bg-gradient);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header .header-menu {
  gap: 2rem;
  display: flex;
}

.header .header-menu a {
  padding: 2rem;
  color: var(--white-text);
  font-size: 1.8rem;
}

.header .nav-btn {
  max-width: 100%;
  display: flex;
  gap: 2rem;
}

.btn-mobile {
  padding: 1rem 2rem;
  background-color: var(--white-text);
  color: var(--primary);
  display: none;
  border-radius: 50px;
  font-size: 1.6rem;
  font-weight: 400;
}

.home {
  background: url(../images/bg-pattern-intro-desktop.svg),
    linear-gradient(45deg, #ff8f70, #ff3d54);
  background-repeat: no-repeat;

  background-position: center;
  border-radius: 0 0 0 100px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
}

.hero {
  padding: 5rem 0;
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 100%;
  align-items: center;
}

.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  gap: 3rem;
}

.hero .content p {
  font-size: 1.8rem;
  color: var(--white-text);
}
