body {
  background-color: #ffffff;
}

.header {
  height: 9rem;
  padding: 5rem 0;
  max-width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--bg-gradient);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header .header-menu {
  gap: 2rem;
  display: flex;
}

.header .header-menu a {
  padding: 2rem;
  color: #fff;
  font-size: 1.8rem;
}

.header-menu img {
  height: 0.7rem;
}

.header .arrow-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  display: none;
  /* transition: 3s all; */
  font-size: 1.8rem;
  border-radius: 5px;
  line-height: 35px;
  margin-top: 50px;
}

.dropdown .dropdown-content p {
  color: #272727;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: 3s all;
}

.header .nav-btn {
  max-width: 100%;
  display: flex;
  gap: 2rem;
}

.btn-mobile {
  padding: 1rem 2rem;
  background-color: var(--white-text);
  color: var(--primary);
  display: none;
  border-radius: 50px;
  font-size: 1.6rem;
  font-weight: 500;
  transition: 0.3s all;
}

.btn-mobile:hover {
  transform: scale(1.1);
}

.home {
  background: url(/images/bg-pattern-intro-desktop.svg),
    linear-gradient(45deg, #ff8f70, #ff3d54);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 0 100px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
}

.hero {
  padding: 5rem 0;
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 100%;
  align-items: center;
}

.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  gap: 3rem;
}

.hero .content p {
  font-size: 1.8rem;
  color: var(--white-text);
}

.logo {
  cursor: pointer;
}

.section-1 .content h2 {
  color: hsl(208, 49%, 24%);
}

.s1-texts h3,
p {
  color: hsl(208, 49%, 24%);
}

.section-1 {
  display: flex;
  width: 100%;
  height: 1100px;
  background: url(/images/illustration-editor-desktop.svg);
  background-size: 110rem;
  background-repeat: no-repeat;
  background-position: right -330px top 50px;
}

.section-1 .container {
  width: 100%;
}

.section-1 .content {
  width: 100%;
}

.s1-cont {
  display: flex;
  width: 50%;
  height: 100%;
}

.content .s1-title {
  display: flex;
  margin-top: 125px;
  margin-bottom: 150px;
}

.section-1 h2 {
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
}

.s1-texts h3 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.s1-texts p {
  font-size: 2rem;
  margin-bottom: 7rem;
  line-height: 35px;
  font-weight: 200;
}

.section-2 {
  width: 100%;
  height: 550px;
  margin-top: 50px;
  position: relative;
}

.section-2 .container-2 {
  width: 100%;
  height: 70%;
  display: flex;
  background: url(/images/bg-pattern-circles.svg),
    linear-gradient(45deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-repeat: no-repeat;
  background-position: bottom left;
  border-radius: 0 100px 0 100px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* justify-content: space-around; */
  align-items: center;
  justify-content: center;
}

.phones-img {
  margin-left: 180px;
}

.phones-img img {
  width: 60rem;
}

.s2-texts {
  display: flex;
  flex-direction: column;
  width: 32.8%;
  height: 100%;
  align-items: left;
  justify-content: center;
  margin-left: 80px;
}

.s2-texts .title {
  margin-bottom: 30px;
}

.s2-texts h2 {
  font-size: 5rem;
  color: #fff;
  font-weight: 400;
}

.s2-texts p {
  font-size: 2rem;
  color: #fff;
  line-height: 35px;
  padding-right: 30px;
  font-weight: 200;
}

.section-3 {
  width: 100%;
  height: 1100px;
  position: relative;
  display: flex;
  background: url(/images/illustration-laptop-desktop.svg);
  background-size: 110rem;
  background-repeat: no-repeat;
  background-position: left -330px top 50px;
}

.section-3 .container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  /* margin: 0; */
}

.section-3 .container .content {
  display: flex;
  width: 55%;
  /* margin: 0; */
  position: absolute;
  top: 50%;
  /* left: 50%; */
  transform: translate(100%, -50%);
  /* align-items: center; */
}

.s3-texts h2 {
  font-size: 5rem;
  font-weight: 400;
  color: #1f3f5b;
  margin-bottom: 30px;
}

.s3-texts p {
  font-size: 2rem;
  line-height: 35px;
  font-weight: 200;
  margin-bottom: 7rem;
}

.footer {
  width: 100%;
  height: 400px;
  background-color: #25252d;
  border-radius: 0 100px 0 0;
}

.footer .content {
  display: flex;
  padding: 70px 0 70px 0;
}

.topics {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.product,
.company,
.connect {
  display: flex;
  flex-direction: column;
}

.topics h4 {
  font-size: 2rem;
  margin-bottom: 35px;
  font-weight: 500;
}

.topics .title {
  color: #ffffff;
}

.topics a {
  color: #c8c8cb;
  line-height: 40px;
  font-size: 2rem;
}

/* display: flex;
background: url(/images/illustration-phones.svg);
background-repeat: no-repeat;
height: 500px;
background-position: left 40px top -50px;
background-size: 50rem; */
